# API keys
.env
*.env

# Large data files
data/raw/
data/processed/X_train.csv
data/processed/X_test.csv
data/processed/training_data.csv
data/processed/y_train_humidity.csv
data/processed/y_train_rain.csv
data/processed/y_train_temp.csv

# Force include these small required files
!data/processed/feature_columns.csv
!data/processed/city_encoder.csv

# Cache
.cache/
.cache_openmeteo/
*.sqlite

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log

# MySQL script
load_to_mysql.py